.upload {
  display: grid;
  grid-template-columns: max-content max-content; 
  align-items: end;
  gap: 8rem; 
  justify-content: start; 
}



.switchtoggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative; 
  box-sizing: border-box;


  width: 64px;
  height: 32px;

  background: #1C1F21;
  border: 1px solid #363B40;
  border-radius: 999px;

  & span { 
    padding-left: 5rem;
  }

  & #toggle {
      padding: 0.8rem;
      left: 2px;
      top: calc(50% - 1.66rem/2);
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #363B40;
  }
  
}

.switch-container {
  display: flex;
  flex-direction: column; 
  gap: 1rem;          
}

