* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-leckerli: 'Leckerli One', sans-serif;
  --logo: 400 2.5rem var(--font-leckerli);

  --font-baloo: 'Baloo 2', sans-serif;
  --heading-md: 700 1.75rem var(--font-baloo);
  --heading-sm: 700 1.125rem var(--font-baloo);

  --font-open: 'Open Sans', sans-serif;
  --body-md: 600 1rem var(--font-open);
  --body-sm: 600 0.875rem var(--font-open);
  --body-xs: 600 0.75rem var(--font-open);

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  --danger: #FF5959;
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --shape-body: #212427;
  zoom: 60%;
}

body {
  overflow: hidden;
  background-color: var(--shape-body);
  font: var(--body-md);
  color: var(--text-body);
}

img {
  max-width: 100%;
  height: auto;
}