#app {
  display: grid;
  grid-template-columns: 35.25% 64.75%;

  height: 100vh;
  overflow: hidden;
}

main {
  margin-left: auto;
  padding: 2rem;
  
  background: linear-gradient(180deg, rgba(33, 37, 38, 0.8) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.3) 40.5%, rgba(33, 37, 38, 0.1) 100%), url(../assets/Background.svg) no-repeat;
  
  & .main-container {
    max-width: 21rem;
    margin-left: auto;

    & img {
      margin-bottom: 1rem;
    }
  }
  
  

  & h2 {
    font: var(--logo);
    color: #FF598B;
    margin-bottom: 0.25rem;

  }

  & p {
    font: var();
   color: var(--text-heading);
}


}

aside {
  overflow: auto;
  padding: 5rem;
  
  & .aside-container {
    max-width: 35rem;
  } 

  & h1 {
    font: var(--heading-md);
    color: var(--text-heading);
    margin-bottom: 2.6rem;
  }  

}



